Repository Guillaume-TagHeuer/mapbox-gl-native, changes with the labels that .github/labeler.yml gives for each.
All labels: android, core, documentation, ios, linux, macos, node.js, offline, qt, telemetry

[ios] chipping away
  platform/darwin/src/MGLShapeSource.mm
Labels: ios, macos

[ios] update errors
  platform/darwin/src/MGLShapeSource.mm
Labels: ios, macos

[ios] remove reset
  platform/darwin/src/MGLShapeSource.mm
Labels: ios, macos

[core] Take max/min zoom option from style if they are set
  include/mbgl/style/sources/vector_source.hpp
  src/mbgl/style/conversion/source.cpp
  src/mbgl/style/sources/vector_source.cpp
Labels: core

[core] std::move input value
  src/mbgl/style/sources/vector_source.cpp
Labels: core

[ios] Add mapView content inset tests.
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/test/MGLMapViewContentInsetTests.m
Labels: ios

[ios] Fix an issue that caused the ornaments ignore the contentInsets.
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/ios/test/MGLMapViewContentInsetTests.m
Labels: ios

[ios] Fix automaticallyAdjustsScrollViewInsets legacy behavior.
  platform/ios/src/MGLMapView.h
  platform/ios/src/MGLMapView.mm
  platform/ios/test/MGLMapViewContentInsetTests.m
Labels: ios

clusterProperty available with full reduce expression
  platform/darwin/src/MGLShapeSource.mm
  platform/darwin/src/MGLStyleValue_Private.h
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/ios/app/MBXViewController.m
  platform/ios/app/earthquakes.geojson
  src/mbgl/style/sources/geojson_source_impl.cpp
Labels: core, ios, macos

[ios] Create expression with expressionWithFormat. Revert changes in NSExpression of sum. Add a TestCase of featureAccumulated.
  platform/darwin/src/MGLShapeSource.h
  platform/darwin/src/MGLShapeSource.mm
  platform/darwin/src/NSExpression+MGLAdditions.h
  platform/darwin/src/NSExpression+MGLAdditions.mm
  platform/darwin/test/MGLExpressionTests.mm
  platform/ios/app/MBXViewController.m
Labels: ios, macos

wip
  platform/darwin/test/MGLOfflineStorageTests.mm
  platform/ios/app/MBXViewController.m
Labels: ios, macos

[ios] Adds invalidate test, and test that reloads packs during removal
  platform/darwin/src/MGLOfflinePack.mm
  platform/darwin/src/MGLOfflineStorage.mm
  platform/darwin/test/MGLOfflinePackTests.mm
  platform/darwin/test/MGLOfflineStorageTests.mm
  platform/ios/ios.xcodeproj/project.pbxproj
Labels: ios, macos

[ios] Add tests for #15536
  platform/darwin/test/MGLOfflineStorageTests.mm
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/test/MGLTestAssertionHandler.h
  platform/ios/test/MGLTestAssertionHandler.m
Labels: ios, macos

[core] Add catch for malformed offline region def.
  platform/default/include/mbgl/storage/offline_database.hpp
  platform/default/src/mbgl/storage/offline_database.cpp
Labels: core

Add second test that tries to mimic #15536
  platform/darwin/test/MGLOfflineStorageTests.mm
Labels: ios, macos

Clean-up & add support for _XCTPreformattedFailureHandler
  platform/darwin/test/MGLOfflinePackTests.mm
  platform/darwin/test/MGLOfflineStorageTests.mm
  platform/darwin/test/MGLTestAssertionHandler.h
  platform/darwin/test/MGLTestAssertionHandler.m
  platform/default/src/mbgl/storage/offline_database.cpp
  platform/ios/app/MBXViewController.m
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/ios/test/MGLTestAssertionHandler.h
  platform/ios/test/MGLTestAssertionHandler.m
  platform/macos/macos.xcodeproj/project.pbxproj
Labels: core, ios, macos

Try out __FILE_NAME__
  circle.yml
  include/mbgl/platform/gl_functions.hpp
Labels: none

[android] Add debug info.
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/AttributionDialogManager.java
Labels: android

[ios, macos] Add changelog entry.
  platform/ios/CHANGELOG.md
  platform/macos/CHANGELOG.md
Labels: documentation, ios, macos

[test] Add unit tests for mbgl::util::Timer covering timer cancellation at/after its expiration
  test/util/timer.test.cpp
Labels: core

[ios] check whether expression is aggregate
  platform/darwin/src/NSExpression+MGLAdditions.mm
Labels: ios, macos

[core] Add feature state support to bucket classes
  include/mbgl/util/feature.hpp
  src/mbgl/gfx/vertex_vector.hpp
  src/mbgl/layout/pattern_layout.hpp
  src/mbgl/layout/symbol_layout.cpp
  src/mbgl/renderer/bucket.hpp
  src/mbgl/renderer/buckets/circle_bucket.cpp
  src/mbgl/renderer/buckets/circle_bucket.hpp
  src/mbgl/renderer/buckets/fill_bucket.cpp
  src/mbgl/renderer/buckets/fill_bucket.hpp
  src/mbgl/renderer/buckets/fill_extrusion_bucket.cpp
  src/mbgl/renderer/buckets/fill_extrusion_bucket.hpp
  src/mbgl/renderer/buckets/heatmap_bucket.cpp
  src/mbgl/renderer/buckets/heatmap_bucket.hpp
  src/mbgl/renderer/buckets/line_bucket.cpp
  src/mbgl/renderer/buckets/line_bucket.hpp
  src/mbgl/renderer/paint_property_binder.hpp
  src/mbgl/tile/geometry_tile_worker.cpp
Labels: core

[core] Add setFeatureState API to Tile classes
  src/mbgl/renderer/render_tile.cpp
  src/mbgl/renderer/render_tile.hpp
  src/mbgl/tile/geometry_tile.cpp
  src/mbgl/tile/geometry_tile.hpp
  src/mbgl/tile/tile.hpp
Labels: core

[core] Add feature-state compound expression
  src/mbgl/style/expression/compound_expression.cpp
Labels: core

[tests] Add feature state unit test
  test/api/query.test.cpp
Labels: core

[core] Add removeFeatureState API
  include/mbgl/renderer/renderer.hpp
  src/mbgl/renderer/render_orchestrator.cpp
  src/mbgl/renderer/render_orchestrator.hpp
  src/mbgl/renderer/render_source.hpp
  src/mbgl/renderer/renderer.cpp
  src/mbgl/renderer/source_state.cpp
  src/mbgl/renderer/source_state.hpp
  src/mbgl/renderer/sources/render_tile_source.cpp
  src/mbgl/renderer/sources/render_tile_source.hpp
Labels: core

[tests] Update expression unit test for feature state
  test/style/expression/expression.test.cpp
Labels: core

[core] Add feature state support to expression
  include/mbgl/style/expression/expression.hpp
  include/mbgl/style/property_expression.hpp
  src/mbgl/renderer/possibly_evaluated_property_value.hpp
  src/mbgl/style/properties.hpp
Labels: core

[core] Add SourceFeatureState class to handle feature states
  src/core-files.json
  src/mbgl/renderer/source_state.cpp
  src/mbgl/renderer/source_state.hpp
Labels: core

[tests] Update bucket unit test for feature state
  test/gl/bucket.test.cpp
Labels: core

[core] Add new types for feature states
  include/mbgl/util/feature.hpp
Labels: none

[core] Add feature state support to isFeatureConstant expression
  src/mbgl/style/expression/is_constant.cpp
Labels: core

[core] Add feature state support to queryRenderedFeatures API
  src/mbgl/annotation/render_annotation_source.cpp
  src/mbgl/geometry/feature_index.cpp
  src/mbgl/geometry/feature_index.hpp
  src/mbgl/renderer/sources/render_tile_source.cpp
  src/mbgl/renderer/tile_pyramid.cpp
  src/mbgl/renderer/tile_pyramid.hpp
  src/mbgl/tile/geometry_tile.cpp
  src/mbgl/tile/geometry_tile.hpp
  src/mbgl/tile/tile.cpp
  src/mbgl/tile/tile.hpp
Labels: core

[core] Add support for set/getFeatureState APIs
  include/mbgl/renderer/renderer.hpp
  src/mbgl/renderer/render_orchestrator.cpp
  src/mbgl/renderer/render_orchestrator.hpp
  src/mbgl/renderer/render_source.hpp
  src/mbgl/renderer/renderer.cpp
  src/mbgl/renderer/sources/render_tile_source.cpp
  src/mbgl/renderer/sources/render_tile_source.hpp
Labels: core

[core] Feature state support to RenderLayer classes
  src/mbgl/geometry/feature_index.cpp
  src/mbgl/renderer/layers/render_circle_layer.cpp
  src/mbgl/renderer/layers/render_circle_layer.hpp
  src/mbgl/renderer/layers/render_fill_extrusion_layer.cpp
  src/mbgl/renderer/layers/render_fill_extrusion_layer.hpp
  src/mbgl/renderer/layers/render_fill_layer.cpp
  src/mbgl/renderer/layers/render_fill_layer.hpp
  src/mbgl/renderer/layers/render_heatmap_layer.cpp
  src/mbgl/renderer/layers/render_heatmap_layer.hpp
  src/mbgl/renderer/layers/render_line_layer.cpp
  src/mbgl/renderer/layers/render_line_layer.hpp
  src/mbgl/renderer/render_layer.hpp
Labels: core

[render-test] Add support for feature state APIs
  render-test/runner.cpp
Labels: none

[core] Fix Placement constness
  src/mbgl/geometry/feature_index.cpp
  src/mbgl/geometry/feature_index.hpp
  src/mbgl/renderer/bucket.hpp
  src/mbgl/renderer/buckets/symbol_bucket.cpp
  src/mbgl/renderer/buckets/symbol_bucket.hpp
  src/mbgl/text/placement.cpp
  src/mbgl/text/placement.hpp
Labels: core

[core] Update buckets in Renderer
  src/mbgl/renderer/render_orchestrator.cpp
  src/mbgl/renderer/render_orchestrator.hpp
  src/mbgl/renderer/render_tree.hpp
  src/mbgl/renderer/renderer.cpp
  src/mbgl/text/placement.cpp
  src/mbgl/text/placement.hpp
Labels: core

[ios, macos] Introduce custom drawing overlays for MGLMapSnapshotter
  platform/darwin/src/MGLMapSnapshotter.h
  platform/darwin/src/MGLMapSnapshotter.mm
  platform/ios/CHANGELOG.md
  platform/ios/Integration Tests/Snapshotter Tests/MGLMapSnapshotterTest.m
  platform/macos/CHANGELOG.md
Labels: documentation, ios, macos

[macos] Snapshot overlay handlers
  platform/darwin/src/MGLMapSnapshotter.mm
Labels: ios, macos

.github/labeler.yml:

android:
- platform/android/**/*

core:
- platform/default/**/*
- src/**/*
- test/**/*
- vendor/**/*

documentation:
- ./**/*.md
- ./**/*.md.ejs
- platform/**/docs/**/*

ios:
- platform/ios/**/*
- platform/darwin/**/*

linux:
- platform/linux/**/*

macos:
- platform/macos/**/*
- platform/darwin/**/*

node.js:
- platform/node/**/*

offline:
- platform/android/src/offline/**/*
- platform/default/mbgl/storage/offline*
- include/mbgl/storage/offline*

qt:
- platform/qt/**/*

telemetry:
- platform/android/MapboxGLAndroidSDK/**/telemetry/**/*
- platform/ios/vendor/mapbox-events-ios/**/*
