Repository Guillaume-TagHeuer/mapbox-gl-native, changes with the labels that .github/labeler.yml gives for each.
All labels: android, core, documentation, ios, linux, macos, node.js, offline, qt, telemetry

.github/labeler.yml:

android:
- platform/android/**/*

core:
- platform/default/**/*
- src/**/*
- test/**/*
- vendor/**/*

documentation:
- ./**/*.md
- ./**/*.md.ejs
- platform/**/docs/**/*

ios:
- platform/ios/**/*
- platform/darwin/**/*

linux:
- platform/linux/**/*

macos:
- platform/macos/**/*
- platform/darwin/**/*

node.js:
- platform/node/**/*

offline:
- platform/android/src/offline/**/*
- platform/default/mbgl/storage/offline*
- include/mbgl/storage/offline*

qt:
- platform/qt/**/*

telemetry:
- platform/android/MapboxGLAndroidSDK/**/telemetry/**/*
- platform/ios/vendor/mapbox-events-ios/**/*

Make sure attribution in proper position
  platform/ios/src/MGLMapView.mm
  platform/ios/test/MGLMapViewLayoutTests.m
Labels: ios

Add position assert for scalebar, logo and compass
  platform/ios/src/MGLMapView.mm
  platform/ios/test/MGLMapViewLayoutTests.m
Labels: ios

Verify frames for transform identity
  platform/ios/src/MGLMapView.mm
  platform/ios/src/UIView+MGLAdditions.h
  platform/ios/src/UIView+MGLAdditions.m
  platform/ios/test/MGLMapViewLayoutTests.m
Labels: ios

[android] Generate feedback url.
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/AttributionDialogManager.java
Labels: android

[android] Add unit test for buildMapFeedbackMapUrl.
  platform/android/MapboxGLAndroidSDK/src/main/java/com/mapbox/mapboxsdk/maps/AttributionDialogManager.java
  platform/android/MapboxGLAndroidSDK/src/test/java/com/mapbox/mapboxsdk/maps/AttributionDialogManagerTest.java
Labels: android

[build] Fix clang format and tidy checks
  include/mbgl/util/default_styles.hpp
  include/mbgl/util/util.hpp
  platform/default/src/mbgl/storage/http_file_source.cpp
  platform/default/src/mbgl/util/format_number.cpp
Labels: core

[build] Use the system CURL on Linux
  platform/default/src/mbgl/storage/http_file_source.cpp
Labels: core

[build] Rewrite our CMake buildsystem
  next/CMakeLists.txt
  next/benchmark/CMakeLists.txt
  next/bin/CMakeLists.txt
  next/expression-test/CMakeLists.txt
  next/platform/android/android.cmake
  next/platform/glfw/CMakeLists.txt
  next/platform/ios/ios.cmake
  next/platform/linux/linux.cmake
  next/platform/macos/macos.cmake
  next/platform/node/CMakeLists.txt
  next/platform/qt/qt.cmake
  next/render-test/CMakeLists.txt
  next/test/CMakeLists.txt
  next/vendor
Labels: none

[build] Cosmetics on vendor packages
  cmake/benchmark.cmake
  cmake/core.cmake
  cmake/filesource.cmake
  cmake/glfw.cmake
  cmake/render-test.cmake
  cmake/test.cmake
  platform/ios/config.cmake
  platform/ios/ios.xcodeproj/project.pbxproj
  platform/linux/config.cmake
  platform/macos/macos.xcodeproj/project.pbxproj
  platform/qt/config.cmake
  vendor/benchmark.cmake
  vendor/boost.cmake
  vendor/cheap-ruler-cpp.cmake
  vendor/earcut.hpp.cmake
  vendor/eternal.cmake
  vendor/expected.cmake
  vendor/geojson-vt-cpp.cmake
  vendor/googletest.cmake
  vendor/icu.cmake
  vendor/nunicode.cmake
  vendor/polylabel.cmake
  vendor/protozero.cmake
  vendor/shelf-pack-cpp.cmake
  vendor/sqlite.cmake
  vendor/unique_resource.cmake
  vendor/vector-tile.cmake
  vendor/wagyu.cmake
Labels: core, ios, linux, macos, qt

[build] Make the default styles part of GL Native
  cmake/glfw.cmake
  cmake/offline.cmake
  include/mbgl/util/default_styles.hpp
  platform/ios/core-files.json
  platform/qt/qt.cmake
  src/core-files.json
Labels: core, ios, qt

[build] Remove Qt test dependency on core
  platform/qt/test/qmapboxgl.test.cpp
  platform/qt/test/qmapboxgl.test.hpp
Labels: qt

[build] Disable a test that requires a debug build
  platform/node/test/ignores.json
Labels: node.js

[build] Make test/util.hpp a public interface
  test/include/mbgl/test/util.hpp
  test/test-files.json
Labels: core

[build] Do not override new/delete on render-test for sanitize builds
  render-test/main.cpp
Labels: none

[build] Mark explicitly visible symbols
  benchmark/include/mbgl/benchmark.hpp
  include/mbgl/util/util.hpp
  platform/android/src/jni.hpp
  platform/android/src/jni_native.hpp
  platform/android/src/test/runtime.cpp
  test/include/mbgl/test.hpp
Labels: android, core

[build] Install missing node deps
  package.json
Labels: none

[build] Fix expression-test build
  expression-test/filesystem.hpp
Labels: none

[build] Fix iOS nits
  platform/ios/app/MBXOrnamentsViewController.m
  platform/ios/app/MBXViewController.m
  platform/ios/framework/Info.plist
  platform/ios/src/MGLCompassButton.mm
  platform/ios/src/MGLCompassButton_Private.h
  platform/ios/src/MGLScaleBar.mm
  platform/ios/src/UIImage+MGLAdditions.h
  platform/macos/src/MGLAnnotationImage_Private.h
Labels: ios, macos

[node] Add changelog entry for feature state APIs
  platform/node/CHANGELOG.md
Labels: documentation, node.js

[node] Add support for feature state APIs
  platform/node/src/node_feature.cpp
  platform/node/src/node_map.cpp
  platform/node/src/node_map.hpp
Labels: node.js

[node] enable feature state tests
  platform/node/test/ignores.json
  platform/node/test/js/map.test.js
  platform/node/test/suite_implementation.js
Labels: node.js

[glfw] Add feature state support
  cmake/glfw.cmake
  platform/glfw/glfw_view.cpp
  platform/glfw/glfw_view.hpp
Labels: none

[build] CI config
  .clang-format
  .clang-tidy
  .cmake-format
  appveyor.yml
  circle.yml
  scripts/ci/Dockerfile
  scripts/ci/etc/apt/sources.list
Labels: none

[build] Do not run clang-tidy on the legacy workflow
  circle.yml
Labels: none

[build] Remove Qt builds from legacy buildsystem
  Makefile
  circle.yml
  platform/qt/config.cmake
  platform/qt/qnx.cmake
  platform/qt/qt.cmake
Labels: qt
